@import "tailwindcss";

@theme {
  --color-custom-purple: #4731D3;
  --color-custom-dark: #252128;
  --color-custom-gray: #AEB0B4;
}
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply transition-colors duration-300;
  }
}